@{
  Layout ="_Layout";
}

@model HairSalon.Models.Stylist
<div class=stylistCreate>
  <h2><strong>Add a new stylist</strong></h2>
  
  @using (Html.BeginForm())
  {
    <p><strong>Stylist Name
    @Html.TextBoxFor((model => model.StylistName), new { @required = "required", @class ="form-control", @style="width: 300px;"})</strong></p>
    <p><strong>Main Skill
    @Html.TextBoxFor((model => model.MainSkill), new { @required = "required", @class ="form-control", @style="width: 300px;"})</strong></p>
    <p><strong>Previous Company
    @Html.TextBoxFor((model => model.ExCompany), new { @required = "required", @class ="form-control", @style="width: 300px;"})</strong></p>
    <p><strong>Work experience
    @Html.TextBoxFor((model => model.WorkExperience), new { @required = "required", @class ="form-control", @style="width: 300px;"})</strong></p>
    <p><strong>Start Date
    @Html.TextBoxFor((model => model.HiredDate), new { @type = "date", @required = "required", @class ="form-control", @style="width: 300px;"})</strong></p>

    <input class="w3-button w3-purple" type="submit" value="submit" style="cursor: pointer;">
  }
</div>