@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="stylistDetails">
  <h2><strong>Stylist Details</strong></h2>
  <hr/>
  <h4>Stylist Name : @Html.DisplayFor(model => model.StylistName)</h4>
  <h4>Main Skill : @Html.DisplayFor(model => model.MainSkill)</h4>
  <h4>Previous Company : @Html.DisplayFor(model => model.ExCompany)</h4>
  <h4>Work Experience : @Html.DisplayFor(model => model.WorkExperience)</h4>
  <h4>Start Date : @Html.DisplayFor(model => model.HiredDate.Month)/@Html.DisplayFor(model => model.HiredDate.Day)/@Html.DisplayFor(model => model.HiredDate.Year)</h4>
  <hr/>

  <div id="stylistDetailLinks">
    <p><img src="~/img/eraser.png" style="width: 30px;">@Html.ActionLink("Edit this Stylist", "Edit", new { id = Model.StylistId})</p>
    <p><img src="~/img/delete.png" style="width: 30px;">@Html.ActionLink("Delete this Stylist", "Delete", new { id = Model.StylistId})</p>
    <p><img src="~/img/hair.png" style="width: 30px;">@Html.ActionLink("Back to Stylist list", "Index")</p>
  </div>

</div>
