@{
  Layout = "_Layout";
}
@model HairSalon.Models.Stylist

<div class="stylistEdit">
  <h2><strong>Edit : @Html.DisplayFor(model => model.StylistName)</strong></h2>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.StylistId)

    <p> Stylist Name:
    @Html.EditorFor(model => model.StylistName, new { htmlAttributes = new { @class = "form-control" } })</p>
    <p> Main Skill:
    @Html.EditorFor(model => model.MainSkill, new { htmlAttributes = new { @class = "form-control" } })</p>
    <p> Previous Company:
    @Html.EditorFor(model => model.ExCompany, new { htmlAttributes = new { @class = "form-control" } })</p>
    <p> Work experience:
    @Html.EditorFor(model => model.WorkExperience, new { htmlAttributes = new { @class = "form-control" } })</p>
    <p> Start Date:
    @Html.TextBoxFor(model => model.HiredDate, "{0:MM-dd-yyyy}", new { @class = "form-control" })</p>
    
    <input class="w3-button w3-purple" type="submit" value="Save" style="cursor: pointer;">
  }
</div>