@{
  Layout = "_Layout";
}
@model HairSalon.Models.Stylist

<div clas="container">
  <h2>Edit : </h2>@Html.DisplayFor(model => model.StylistName)

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.StylistId)

    @Html.LabelFor(model => model.StylistName)
    @Html.EditorFor(model => model.StylistName)

    <input class="btn btn-primary" type="submit" value="Save">
  }

  <p class="link">@Html.ActionLink("Back to Stylist list", "Index")</p>
</div>