@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<div class="contanier">
  <h2>Add a new client</h2>


  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")

    <p><strong>Client Name
    @Html.TextBoxFor((model => model.ClientName), new { @required = "required", @class="form-control"})
    </p>
    <p><strong>Client Address
    @Html.TextBoxFor((model => model.ClientAddress), new { @required = "required", @class="form-control"})
    </p>
    <p><strong>Last Visit
    @Html.TextBoxFor((model => model.LastVisitDate), new { @type = "date", @required = "required", @class="form-control"})
    </p>
    <h3> Birthday:
    @Html.TextBoxFor((model => model.Birthday), new { @type = "date", @required = "required"})</h3>

    <input class="btn btn-primary" type="submit" value="Submit" style="cursor: pointer";>
  }

</div>