@{
  Layout = "_Layout";
}
@model HairSalon.Models.Client

<div class="clientDetails">
  <h2>Client Detail</h2>

  <hr />
  <h4>Stylist : @ViewBag.StylistName</h4>
  <h4>Client Name : @Html.DisplayFor(model => model.ClientName)</h4>
  <h4>Phone Number : @Html.DisplayFor(model => model.ClientPhone)</h4>
  <h4>Address : @Html.DisplayFor(model => model.ClientAddress)</h4>
  <h4>Last Visit : @Html.DisplayFor(model => model.LastVisitDate)</h4>
  <h4>Birthday : @Html.DisplayFor(model => model.Birthday)</h4>
  <hr />

  <div id="clientDetailLinks">
    <p><img src="~/img/eraser.png" style="width: 30px;">@Html.ActionLink("Edit this Client", "Edit", new { id = Model.ClientId})</p>
    <p><img src="~/img/delete.png" style="width: 30px;">@Html.ActionLink("Delete this Client", "Delete", new { id = Model.ClientId})</p>
    <p><img src="~/img/target.png" style="width: 30px;">@Html.ActionLink("Back to Client list", "Index")</p>
  </div>
</div>