@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<div class="clientEdit">
  <h2><strong>Edit : @Html.DisplayFor(model => model.ClientName)</strong></h2>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.ClientId)

    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")

    <p> Client Name:
    @Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control" } })</p>
    <p> Phone Number:
    @Html.EditorFor(model => model.ClientPhone, new { htmlAttributes = new { @class = "form-control" } })</p>
    <p> Address:
    @Html.EditorFor(model => model.ClientAddress, new { htmlAttributes = new { @class = "form-control" } })</p>
    <p> Last Visit Date:
    @Html.EditorFor(model => model.LastVisitDate, new { htmlAttributes = new { @class = "form-control" } })</p>
    <p> Birthday:
    @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })</p>

    <input class="w3-button w3-purple" type="submit" value="Save">
  }

</div>