@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<div class="container">
  <h2>Edit this client : @Html.DisplayFor(model => model.ClientName)</h2>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.ClientId)

    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")

    @Html.LabelFor(model => model.ClientName)
    @Html.EditorFor(model => model.ClientName)

    <input class="btn btn-primary" value="Save">
  }

  <p>@Html.ActionLink("Back to list", "Index")<p>
</div>